
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    background-color:  #fffdfe88.    ;
  }
  


  body {
    background-image: url('images/background.png');
  }

  header {
  background-color:  rgba(202, 240, 251, 255);
  padding: 15px;
  align-items: center;
  text-align: center;
  }


  form {
    text-align: center;
    opacity: 0.9;
    background-color: #5d4b7696;
    width: 10%;
    padding: 80px;
    border-radius: 10px;
    position: absolute;
    top: 138px;
    left: 106px;
    font-size: 25px;
  }


  table {

    background-color: #5d4b7696;
    padding: 80px;
    border-radius: 10px;
    float: right;
    position: absolute;
    top: 250px;
    width: 30%;
    opacity: 0.9;
    right: 150px;
  }

  form input {
width: 100%;
font-size: 25px;
border-radius: 5px;
  }

  form select {
    width: 90%;
font-size: 25px;
border-radius: 5px;
  }